<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicacion tipo bancario con Nodejs And Mongodb!</h1>
  <p class="lead">Es una aplicacion que maneja Nodejs, Express, Mongodb and Javascript Technologies</p>
  <p class="lead">Beatriz Sarmiento Carvajalino</p>
</div>
